@tailwind base;

/* global styles */

/* Firefox */
* {
  scrollbar-width: 8px;
  scrollbar-color: #475569 #0f172a1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #6b728040;
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #475569;
  border-radius: 12px;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1rem; /* Also needed for space (tweak if needed) */
  /* margin-left: 0;  Also needed for space (tweak if needed) */
}

article hr {
  width: 95%;
  height: 2px;
  border-width: 0;
  color: #a3e635;
  background-color: #a3e635;
  margin-left: auto;
  margin-right: auto;
}

figure * img {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

figure div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
}

figcaption p {
  white-space: nowrap;
  font-size: 0.875rem;
  text-align: center;
  color: #a3e635;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 640px) {
  figure div {
    flex-direction: row;
    gap: 12px;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
  }

  figure * img {
    width: 320px;
    margin-left: 0;
    margin-right: 0;
  }

  figcaption p {
    margin: 0;
  }
}

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kanit";
  font-weight: normal;
  src: url(../fonts/Kanit-Regular.ttf) format("truetype");
}

@layer base {
  body {
    @apply bg-primary p-12 text-cyan-50 font-kanit;
  }

  h1 {
    @apply text-[28px] tracking-tight md:tracking-normal md:text-3xl font-black text-lime-500;
  }

  h2 {
    @apply text-2xl font-bold pb-4 text-red-700;
  }

  h3 {
    @apply text-xl font-semibold text-red-400;
  }

  h4 {
    @apply text-lg font-normal py-2;
  }

  p {
    @apply text-sm my-4;
  }
}

@layer components {
  .circle-1 {
    background: linear-gradient(
      270deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 60%,
      rgba(0, 212, 255, 1) 100%
    );
    clip-path: circle(70% at 20% 22%);
    position: absolute;
  }

  .circle-2 {
    background: linear-gradient(
      270deg,
      rgba(250, 80, 71, 1) 33%,
      rgba(255, 25, 207, 1) 100%
    );
    clip-path: circle(70% at 80% 100%);
    position: absolute;
  }
}

/* Tailwindcss Glassmorphism Generator */
/* https://tailwindcss-glassmorphism.vercel.app/ */

/* CSS selector for an img element with class */
/* https://stackoverflow.com/questions/33848970/css-selector-for-an-img-element-with-class */
/* https://www.w3.org/TR/selectors-3/#descendant-combinators */
/* https://www.w3schools.com/tags/tag_figure.asp */

/* Plantilla de Caja de imagen con pie de foto */
/* Al usar esta Plantilla hay que minificar el Html resultante */
/* https://codebeautify.org/minify-html */

/*

<hr />
<figure>
  <div>
    <figcaption>
      <p>
        Casas Colgantes de Frías, Burgos.
      </p>
    </figcaption>
    <img
      src="https://kneninomiqnxwtkplruk.supabase.co/storage/v1/object/public/posts/frias.jpg?t=2023-05-10T14%3A38%3A08.381Z"
      alt="Frías"
    />
  </div>
</figure>
<hr />
 
 */
