<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="google" content="notranslate" />
    <meta name="description" content="Blog of hikers interested in culture in general">
    {% block head %}
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>

  <body>
   {% block nav %}
     <nav class="w-full h-16 px-2 md:px-12 flex justify-between items-center bg-slate-800 fixed top-0 left-0 right-0 z-50">
       <a class="block bg-cyan-50 rounded-full p-2 text-2xl border-2 border-sky-500 hover:scale-110 ease-in-out duration-500" href="/">🥾</a>
       <h1 class="text-xl md:text-3xl mr-4 md:mr-12">El Blog de los Caminantes</h1>
     </nav>
   {% endblock nav %}

   <header class="flex flex-col gap-1 md:gap-3 mt-[70px] md:mt-20">
     <img
      class="w-4/5 md:w-72 mx-auto hover:scale-110 ease-in-out duration-500"
      src="https://kneninomiqnxwtkplruk.supabase.co/storage/v1/object/public/posts/logo.png?t=2023-05-08T11%3A42%3A15.358Z"
      alt="Logo"
     />
     {% block header %}{% endblock header %}
   </header>

    <main
      class="w-full md:w-[650px] mx-auto overflow-x-hidden"
    >
      {% block content %}{% endblock content %}
    </main>

    {% block footer %}
      <footer
        class="flex w-full mt-2 md:mt-16 gap-2 justify-center items-center italic tracking-wider hover:text-sky-500 ease-in duration-300"
      >
        &copy; {{year}} by
        <a href="https://github.com/emarifer?tab=repositories" target="_blank"
          >Enrique Marín</a
        >

        <svg class="w-4" fill="currentColor" viewBox="0 0 16 16">
          <path
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          />
        </svg>
      </footer>
    {% endblock footer %}

    {% block buttonUp %}
      <button id="buttonUp" title="Ir arriba" onclick="scrollToTop()"
        style="display: none;"
        class="bg-sky-600 shadow-md shadow-sky-800 hover:bg-sky-400 rounded-full fixed bottom-4 right-4 p-2 z-50">
        <svg fill="currentColor" class="w-6" viewBox="0 0 16 16">
          <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
        </svg>
      </button>
    {% endblock buttonUp %}

    <script>
      const scrollToTop = () => {
	scrollTo({
	  behavior: 'smooth',
          top: 0,
	});
      };

      const buttonUp = document.getElementById("buttonUp"); 
      
      const scrollFunction = () => {
        if (window.scrollY || window.document.documentElement.scrollTop > 300) {
          buttonUp.style.display = "block";
        } else {
          buttonUp.style.display = "none";
        }
      };
      
      window.onscroll = () => scrollFunction();
    </script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=hv0rNxr1XXk -->

<!-- https://www.w3schools.com/howto/howto_js_scroll_to_top.asp -->
