{% extends "base.html" %}

{% block title %}
  {{ home_title|rmdashes }}
{% endblock title %}

{% block header %}
  <h3 class="text-center text-lg mt-4">Últimos posts:</h3>
{% endblock header %}

{% block content %}
  <section class="overflow-hidden rounded-xl relative mt-2">
    <div class="circle-1 w-44 h-44 md:w-72 md:h-72 left-0 -z-10"></div>
    
    <ul class="h-[35vh] rounded-xl overflow-y-scroll overflow-x-hidden p-6 bg-gray-500
      bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-25 border-l border-t border-gray-100/50">

      {% for item in home_links %}
        <li title="{{ item.1|rmdashes }} / {{ item.2 }}"
          class="hover:text-sky-500 hover:-translate-y-1.5 ease-in duration-300 my-1.5 md:mx-16 whitespace-nowrap text-ellipsis overflow-hidden">
          <a href="/post/{{ item.0 }}">{{ item.1|rmdashes }}</a>
          <span class="text-slate-500">&nbsp;|&nbsp;</span>
          <span class="text-lime-400">por {{ item.2 }}</span>
        </li>
      {% endfor %}
    </ul>

    <div class="circle-2 w-52 h-52 md:w-96 md:h-96 bottom-0 right-0 -z-10"></div>
  </section>
{% endblock content %}

<!-- Tailwindcss Glassmorphism Generator -->
<!-- https://tailwindcss-glassmorphism.vercel.app/ -->

<!-- Linear Gradient Generator -->
<!-- https://cssgradient.io/ -->
