{% extends "base.html" %}

{% block title %}{{ post_title|rmdashes }} | por {{ post_author }}{% endblock title %}

{% block header %}
  <h1 class="mt-4">
    {{ post_title|rmdashes }}
  </h1>

  <div class="hidden md:block">
    <p class="text-red-400 text-sm">por {{ post_author }}
      <span class="text-slate-500">&nbsp;|&nbsp;</span>
      <span class="text-lime-400">tiempo de lectura: {{ post_reading_time }} min</span>
    </p> 
  </div>

  <div class="md:hidden">
    <p class="text-red-400 text-sm">por {{ post_author }}</p>
    <p class="text-lime-400 text-sm">tiempo de lectura: {{ post_reading_time }} min</p>
  </div>

  <p class="text-slate-500">
    {{ post_date|frdate }}
  </p>
{% endblock header %}

{% block content %}
  <article class="mt-8 p-3 border-[1px] rounded-lg">
    {{ post_body|frmarkdown }}
  </article>

  <a class="underline mt-16 block hover:text-sky-500 ease-in duration-300" href="/">&larr; Volver a la lista de posts</a>
{% endblock content %}
