{% extends "base.html" %}

{% block title %}{{ post_title|rmdashes }} | por {{ post_author }}{% endblock title %}

{% block header %}
  <h1 class="mt-4">
    {{ post_title|rmdashes }}
  </h1>

  <div class="hidden md:block">
    <div class="flex gap-4">
      <p class="text-red-400 text-sm">por {{ post_author }}
        <span class="text-slate-500">&nbsp;|&nbsp;</span>
        <span class="text-lime-400">tiempo de lectura: {{ post_reading_time }} min</span>
      </p>
      <img class="w-12 rounded-full" src="{{ post_avatar }}" alt="{{ post_author }}"> 
    </div>
  </div>

  <div class="md:hidden">
    <div class="flex gap-4">
      <p class="text-red-400 text-sm">por {{ post_author }}</p> 
      <img class="h-12 rounded-full" src="{{ post_avatar }}" alt="{{ post_author }}">
    </div>

    <p class="text-lime-400 text-sm">tiempo de lectura: {{ post_reading_time }} min</p>
  </div>

  <p class="text-slate-500">
    {{ post_date|frdate }}
  </p>
{% endblock header %}

{% block content %}
  <article class="mt-8 p-3 border-[1px] rounded-lg">
    {{ post_body|frmarkdown }}
  </article>

  <a class="underline mt-16 block hover:text-sky-500 ease-in duration-300" href="/">&larr; Volver a la lista de posts</a>
{% endblock content %}
